# Public URLs for the deployed Plane instance.
VITE_API_BASE_URL="https://plane.gizmostudio.ru/api"

VITE_WEB_BASE_URL="https://plane.gizmostudio.ru"

VITE_ADMIN_BASE_URL="https://plane.gizmostudio.ru"
VITE_ADMIN_BASE_PATH="/god-mode"

VITE_SPACE_BASE_URL="https://plane.gizmostudio.ru"
VITE_SPACE_BASE_PATH="/spaces"

VITE_LIVE_BASE_URL="https://plane.gizmostudio.ru"
VITE_LIVE_BASE_PATH="/live"
