VITE_API_BASE_URL="http://192.168.18.32"

VITE_WEB_BASE_URL="http://192.168.18.32"

VITE_ADMIN_BASE_URL="http://192.168.18.32"
VITE_ADMIN_BASE_PATH="/god-mode"

VITE_SPACE_BASE_URL="http://192.168.18.32"
VITE_SPACE_BASE_PATH="/spaces"

VITE_LIVE_BASE_URL="http://192.168.18.32"
VITE_LIVE_BASE_PATH="/live"
