.ProseMirror {
  .prosemirror-flat-list {
    padding-bottom: 4px !important;

    &::before,
    .list-marker {
      height: 28px;
      width: 28px;
      display: grid;
      place-items: center;
      margin-top: 1px;

      label {
        margin-top: 2px;
      }
    }

    .list-content {
      & > p {
        margin: 0 !important;
        padding: 4px 0 !important;
      }
    }

    &[data-list-kind="ordered"] {
      list-style: none;

      &::before {
        font-variant-numeric: tabular-nums;
        content: counter(prosemirror-flat-list-counter, decimal) ".";
      }

      /* Second level - lower-alpha */
      & > .list-content > & {
        &::before {
          content: counter(prosemirror-flat-list-counter, lower-alpha) ".";
        }

        /* Third level - lower-roman */
        & > .list-content > & {
          &::before {
            content: counter(prosemirror-flat-list-counter, lower-roman) ".";
          }

          /* Start repeat pattern */
          & > .list-content > & {
            &::before {
              content: counter(prosemirror-flat-list-counter, decimal) ".";
            }

            /* Continue pattern */
            & > .list-content > & {
              &::before {
                content: counter(prosemirror-flat-list-counter, lower-alpha) ".";
              }

              & > .list-content > & {
                &::before {
                  content: counter(prosemirror-flat-list-counter, lower-roman) ".";
                }

                /* Pattern repeats again */
                & > .list-content > & {
                  &::before {
                    content: counter(prosemirror-flat-list-counter, decimal) ".";
                  }

                  & > .list-content > & {
                    &::before {
                      content: counter(prosemirror-flat-list-counter, lower-alpha) ".";
                    }

                    & > .list-content > & {
                      &::before {
                        content: counter(prosemirror-flat-list-counter, lower-roman) ".";
                      }
                    }

                    & > .list-content > & {
                      &::before {
                        content: counter(prosemirror-flat-list-counter, decimal) ".";
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &[data-list-kind="bullet"] {
      list-style: none;

      &::before {
        content: "•";
      }

      /* Second level - circle */
      & > .list-content > & {
        &::before {
          content: "⚬";
        }

        /* Third level - square */
        & > .list-content > & {
          &::before {
            content: "▪";
          }

          /* Start repeat pattern */
          & > .list-content > & {
            &::before {
              content: "•";
            }

            /* Continue pattern */
            & > .list-content > & {
              &::before {
                content: "⚬";
              }

              & > .list-content > & {
                &::before {
                  content: "▪";
                }

                /* Pattern repeats again */
                & > .list-content > & {
                  &::before {
                    content: "•";
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* apply a top padding to every list item whose previous element is not a list item */
  :not(.prosemirror-flat-list) + .prosemirror-flat-list {
    padding-top: 4px;
  }

  /* apply a larger top padding to every list item whose previous element is a paragraph */
  p + .prosemirror-flat-list {
    padding-top: 8px !important;
  }

  /* remove top padding from a list item if it's the first node of the editor */
  .prosemirror-flat-list:first-child,
  :not(.prosemirror-flat-list) + .prosemirror-flat-list {
    &::before,
    .list-marker {
      margin-top: -2px;
    }

    .list-content {
      & > p {
        padding-top: 0 !important;
      }
    }
  }
}
