.ProseMirror {
  .prosemirror-flat-list {
    &::before,
    .list-marker {
      position: absolute;
      right: 100%;
      top: -2px;
      height: 28px;
      width: 28px;
      display: grid;
      place-items: center;

      label {
        margin-top: 2px;
      }
    }

    /* select the first list item of every list,
      except the-
        1. first item of a nested list
        2. first item of the editor
    */
    &:not(.prosemirror-flat-list + .prosemirror-flat-list):not(.prosemirror-flat-list .prosemirror-flat-list):not(
        :first-of-type:first-child
      ) {
      padding-top: 4px;

      &::before,
      .list-marker {
        top: 1px;
      }
    }

    .list-content {
      & > *:first-child:not(.prosemirror-flat-list) {
        padding-bottom: 4px;
      }

      & > p {
        margin: 0 !important;
        /* padding: 4px 0 !important; */
      }
    }

    &[data-list-kind="ordered"] {
      list-style: none;

      &::before {
        font-variant-numeric: tabular-nums;
        content: counter(prosemirror-flat-list-counter, decimal) ".";
      }

      /* Second level - lower-alpha */
      & > .list-content > & {
        &::before {
          content: counter(prosemirror-flat-list-counter, lower-alpha) ".";
        }

        /* Third level - lower-roman */
        & > .list-content > & {
          &::before {
            content: counter(prosemirror-flat-list-counter, lower-roman) ".";
          }

          /* Start repeat pattern */
          & > .list-content > & {
            &::before {
              content: counter(prosemirror-flat-list-counter, decimal) ".";
            }

            /* Continue pattern */
            & > .list-content > & {
              &::before {
                content: counter(prosemirror-flat-list-counter, lower-alpha) ".";
              }

              & > .list-content > & {
                &::before {
                  content: counter(prosemirror-flat-list-counter, lower-roman) ".";
                }

                /* Pattern repeats again */
                & > .list-content > & {
                  &::before {
                    content: counter(prosemirror-flat-list-counter, decimal) ".";
                  }

                  & > .list-content > & {
                    &::before {
                      content: counter(prosemirror-flat-list-counter, lower-alpha) ".";
                    }

                    & > .list-content > & {
                      &::before {
                        content: counter(prosemirror-flat-list-counter, lower-roman) ".";
                      }
                    }

                    & > .list-content > & {
                      &::before {
                        content: counter(prosemirror-flat-list-counter, decimal) ".";
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &[data-list-kind="bullet"] {
      list-style: none;

      &::before {
        content: "•";
      }

      /* Second level - circle */
      & > .list-content > & {
        &::before {
          content: "⚬";
        }

        /* Third level - square */
        & > .list-content > & {
          &::before {
            content: "▪";
          }

          /* Start repeat pattern */
          & > .list-content > & {
            &::before {
              content: "•";
            }

            /* Continue pattern */
            & > .list-content > & {
              &::before {
                content: "⚬";
              }

              & > .list-content > & {
                &::before {
                  content: "▪";
                }

                /* Pattern repeats again */
                & > .list-content > & {
                  &::before {
                    content: "•";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
