.table-wrapper {
  overflow-x: auto;
  width: fit-content;
  max-width: 100%;
}

.table-wrapper table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid rgba(var(--color-border-200));
  width: 100%;
}

.table-wrapper table td,
.table-wrapper table th {
  min-width: 1em;
  border: 1px solid rgba(var(--color-border-200));
  padding: 10px 20px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  transition: background-color 0.3s ease;

  > * {
    margin-bottom: 0;
  }
}

.table-wrapper table th {
  font-weight: 500;
  text-align: left;
  background-color: rgba(var(--color-background-90));
}

.table-wrapper table .selectedCell {
  outline: 0.5px solid rgba(var(--color-primary-100));
}

/* table dropdown */
.table-wrapper table .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  width: 2px;
  height: 100%;
  z-index: 5;
  background-color: rgba(var(--color-primary-100));
  pointer-events: none;
}

.table-wrapper .table-controls {
  position: absolute;
}

.table-wrapper .table-controls .columns-control,
.table-wrapper .table-controls .rows-control {
  transition: opacity ease-in 100ms;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-wrapper .table-controls .columns-control {
  height: 20px;
  transform: translateY(-50%);
}

.table-wrapper .table-controls .columns-control .columns-control-div {
  color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%238F95B2' d='M4.5 10.5c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5S6 12.825 6 12s-.675-1.5-1.5-1.5zm15 0c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5S21 12.825 21 12s-.675-1.5-1.5-1.5zm-7.5 0c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5 1.5-.675 1.5-1.5-.675-1.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 30px;
  height: 15px;
}

.table-wrapper .table-controls .rows-control {
  width: 20px;
  transform: translateX(-50%);
  left: -8px;
}

.table-wrapper .table-controls .rows-control .rows-control-div {
  color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%238F95B2' d='M12 3c-.825 0-1.5.675-1.5 1.5S11.175 6 12 6s1.5-.675 1.5-1.5S12.825 3 12 3zm0 15c-.825 0-1.5.675-1.5 1.5S11.175 21 12 21s1.5-.675 1.5-1.5S12.825 18 12 18zm0-7.5c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5 1.5-.675 1.5-1.5-.675-1.5-1.5-1.5z'/%3E%3C/svg%3E");
  height: 30px;
  width: 15px;
}

.table-wrapper .table-controls .rows-control-div,
.table-wrapper .table-controls .columns-control-div {
  background-color: rgba(var(--color-background-80));
  border: 0.5px solid rgba(var(--color-border-200));
  border-radius: 4px;
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: center;
  transition:
    transform ease-out 100ms,
    background-color ease-out 100ms;
  outline: none;
  box-shadow: rgba(var(--color-shadow-2xs));
  cursor: pointer;
}

.resize-cursor .table-wrapper .table-controls .rows-control,
.table-wrapper.controls--disabled .table-controls .rows-control,
.resize-cursor .table-wrapper .table-controls .columns-control,
.table-wrapper.controls--disabled .table-controls .columns-control {
  opacity: 0;
  pointer-events: none;
}
