@import "@plane/tailwind-config/index.css";
@import "@plane/editor/styles";
@import "@plane/propel/styles/react-day-picker.css";
@plugin "@tailwindcss/typography";

/* stickies and editor colors */
:root {
  /* text colors */
  --editor-colors-gray-text: #5c5e63;
  --editor-colors-peach-text: #ff5b59;
  --editor-colors-pink-text: #f65385;
  --editor-colors-orange-text: #fd9038;
  --editor-colors-green-text: #0fc27b;
  --editor-colors-light-blue-text: #17bee9;
  --editor-colors-dark-blue-text: #266df0;
  --editor-colors-purple-text: #9162f9;
  /* end text colors */

  /* background colors */
  --editor-colors-gray-background: #d6d6d8;
  --editor-colors-peach-background: #ffd5d7;
  --editor-colors-pink-background: #fdd4e3;
  --editor-colors-orange-background: #ffe3cd;
  --editor-colors-green-background: #c3f0de;
  --editor-colors-light-blue-background: #c5eff9;
  --editor-colors-dark-blue-background: #c9dafb;
  --editor-colors-purple-background: #e3d8fd;
  /* end background colors */
}
/* background colors */
[data-theme*="light"] {
  --editor-colors-gray-background: #d6d6d8;
  --editor-colors-peach-background: #ffd5d7;
  --editor-colors-pink-background: #fdd4e3;
  --editor-colors-orange-background: #ffe3cd;
  --editor-colors-green-background: #c3f0de;
  --editor-colors-light-blue-background: #c5eff9;
  --editor-colors-dark-blue-background: #c9dafb;
  --editor-colors-purple-background: #e3d8fd;
}
[data-theme*="dark"] {
  --editor-colors-gray-background: #404144;
  --editor-colors-peach-background: #593032;
  --editor-colors-pink-background: #562e3d;
  --editor-colors-orange-background: #583e2a;
  --editor-colors-green-background: #1d4a3b;
  --editor-colors-light-blue-background: #1f495c;
  --editor-colors-dark-blue-background: #223558;
  --editor-colors-purple-background: #3d325a;
}
/* end background colors */

/* Progress Bar Styles */
:root {
  --bprogress-color: var(--background-color-accent-primary);
  --bprogress-height: 2.5px !important;
}

.bprogress {
  pointer-events: none;
}

.bprogress .bar {
  background: linear-gradient(
    90deg,
    --alpha(var(--background-color-accent-primary) / 80%) 0%,
    --alpha(var(--background-color-accent-primary) / 100%) 100%
  ) !important;
  will-change: width, opacity;
}

.bprogress .peg {
  display: block;
  box-shadow:
    0 0 8px --alpha(var(--background-color-accent-primary) / 60%),
    0 0 4px --alpha(var(--background-color-accent-primary) / 40%) !important;
  will-change: transform, opacity;
}
