@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  :root {
    color-scheme: light !important;

    --color-primary-10: 236, 241, 255;
    --color-primary-20: 217, 228, 255;
    --color-primary-30: 197, 214, 255;
    --color-primary-40: 178, 200, 255;
    --color-primary-50: 159, 187, 255;
    --color-primary-60: 140, 173, 255;
    --color-primary-70: 121, 159, 255;
    --color-primary-80: 101, 145, 255;
    --color-primary-90: 82, 132, 255;
    --color-primary-100: 63, 118, 255;
    --color-primary-200: 57, 106, 230;
    --color-primary-300: 50, 94, 204;
    --color-primary-400: 44, 83, 179;
    --color-primary-500: 38, 71, 153;
    --color-primary-600: 32, 59, 128;
    --color-primary-700: 25, 47, 102;
    --color-primary-800: 19, 35, 76;
    --color-primary-900: 13, 24, 51;

    --color-background-100: 255, 255, 255; /* primary bg */
    --color-background-90: 250, 250, 250; /* secondary bg */
    --color-background-80: 245, 245, 245; /* tertiary bg */

    --color-text-100: 23, 23, 23; /* primary text */
    --color-text-200: 58, 58, 58; /* secondary text */
    --color-text-300: 82, 82, 82; /* tertiary text */
    --color-text-400: 163, 163, 163; /* placeholder text */

    --color-border-100: 245, 245, 245; /* subtle border= 1 */
    --color-border-200: 229, 229, 229; /* subtle border- 2 */
    --color-border-300: 212, 212, 212; /* strong border- 1 */
    --color-border-400: 185, 185, 185; /* strong border- 2 */

    --color-sidebar-background-100: var(--color-background-100); /* primary sidebar bg */
    --color-sidebar-background-90: var(--color-background-90); /* secondary sidebar bg */
    --color-sidebar-background-80: var(--color-background-80); /* tertiary sidebar bg */

    --color-sidebar-text-100: var(--color-text-100); /* primary sidebar text */
    --color-sidebar-text-200: var(--color-text-200); /* secondary sidebar text */
    --color-sidebar-text-300: var(--color-text-300); /* tertiary sidebar text */
    --color-sidebar-text-400: var(--color-text-400); /* sidebar placeholder text */

    --color-sidebar-border-100: var(--color-border-100); /* subtle sidebar border= 1 */
    --color-sidebar-border-200: var(--color-border-100); /* subtle sidebar border- 2 */
    --color-sidebar-border-300: var(--color-border-100); /* strong sidebar border- 1 */
    --color-sidebar-border-400: var(--color-border-100); /* strong sidebar border- 2 */
  }

  [data-theme="light"] {
    color-scheme: light !important;

    --color-background-100: 255, 255, 255; /* primary bg */
    --color-background-90: 250, 250, 250; /* secondary bg */
    --color-background-80: 245, 245, 245; /* tertiary bg */
  }

  [data-theme="light"] {
    --color-text-100: 23, 23, 23; /* primary text */
    --color-text-200: 58, 58, 58; /* secondary text */
    --color-text-300: 82, 82, 82; /* tertiary text */
    --color-text-400: 163, 163, 163; /* placeholder text */

    --color-border-100: 245, 245, 245; /* subtle border= 1 */
    --color-border-200: 229, 229, 229; /* subtle border- 2 */
    --color-border-300: 212, 212, 212; /* strong border- 1 */
    --color-border-400: 185, 185, 185; /* strong border- 2 */
  }

  [data-theme="light-contrast"] {
    --color-text-100: 11, 11, 11; /* primary text */
    --color-text-200: 38, 38, 38; /* secondary text */
    --color-text-300: 58, 58, 58; /* tertiary text */
    --color-text-400: 115, 115, 115; /* placeholder text */

    --color-border-100: 34, 34, 34; /* subtle border= 1 */
    --color-border-200: 38, 38, 38; /* subtle border- 2 */
    --color-border-300: 46, 46, 46; /* strong border- 1 */
    --color-border-400: 58, 58, 58; /* strong border- 2 */
  }

  [data-theme="dark"] {
    color-scheme: dark !important;

    --color-background-100: 7, 7, 7; /* primary bg */
    --color-background-90: 11, 11, 11; /* secondary bg */
    --color-background-80: 23, 23, 23; /* tertiary bg */
  }

  [data-theme="dark"] {
    --color-text-100: 229, 229, 229; /* primary text */
    --color-text-200: 163, 163, 163; /* secondary text */
    --color-text-300: 115, 115, 115; /* tertiary text */
    --color-text-400: 82, 82, 82; /* placeholder text */

    --color-border-100: 34, 34, 34; /* subtle border= 1 */
    --color-border-200: 38, 38, 38; /* subtle border- 2 */
    --color-border-300: 46, 46, 46; /* strong border- 1 */
    --color-border-400: 58, 58, 58; /* strong border- 2 */
  }

  [data-theme="light"],
  [data-theme="dark"] {
    --color-primary-10: 236, 241, 255;
    --color-primary-20: 217, 228, 255;
    --color-primary-30: 197, 214, 255;
    --color-primary-40: 178, 200, 255;
    --color-primary-50: 159, 187, 255;
    --color-primary-60: 140, 173, 255;
    --color-primary-70: 121, 159, 255;
    --color-primary-80: 101, 145, 255;
    --color-primary-90: 82, 132, 255;
    --color-primary-100: 63, 118, 255;
    --color-primary-200: 57, 106, 230;
    --color-primary-300: 50, 94, 204;
    --color-primary-400: 44, 83, 179;
    --color-primary-500: 38, 71, 153;
    --color-primary-600: 32, 59, 128;
    --color-primary-700: 25, 47, 102;
    --color-primary-800: 19, 35, 76;
    --color-primary-900: 13, 24, 51;

    --color-sidebar-background-100: var(--color-background-100); /* primary sidebar bg */
    --color-sidebar-background-90: var(--color-background-90); /* secondary sidebar bg */
    --color-sidebar-background-80: var(--color-background-80); /* tertiary sidebar bg */

    --color-sidebar-text-100: var(--color-text-100); /* primary sidebar text */
    --color-sidebar-text-200: var(--color-text-200); /* secondary sidebar text */
    --color-sidebar-text-300: var(--color-text-300); /* tertiary sidebar text */
    --color-sidebar-text-400: var(--color-text-400); /* sidebar placeholder text */

    --color-sidebar-border-100: var(--color-border-100); /* subtle sidebar border= 1 */
    --color-sidebar-border-200: var(--color-border-100); /* subtle sidebar border- 2 */
    --color-sidebar-border-300: var(--color-border-100); /* strong sidebar border- 1 */
    --color-sidebar-border-400: var(--color-border-100); /* strong sidebar border- 2 */
  }
}
