/* Display Placeholders on every new line. */
.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: var(--color-placeholder);
  pointer-events: none;
  height: 0;
}