@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-1\.5xl {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }

  .text-2\.5xl {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  :root {
    color-scheme: light !important;

    --color-scrollbar: 163, 163, 163; /* scrollbar thumb */

    --color-shadow-2xs: 0px 0px 1px 0px rgba(23, 23, 23, 0.06), 0px 1px 2px 0px rgba(23, 23, 23, 0.06),
      0px 1px 2px 0px rgba(23, 23, 23, 0.14);
    --color-shadow-xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(16, 24, 40, 0.12),
      0px 1px 8px -1px rgba(16, 24, 40, 0.1);
    --color-shadow-sm: 0px 1px 4px 0px rgba(0, 0, 0, 0.01), 0px 4px 8px 0px rgba(0, 0, 0, 0.02),
      0px 1px 12px 0px rgba(0, 0, 0, 0.12);
    --color-shadow-rg: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(16, 24, 40, 0.08),
      0px 1px 12px 0px rgba(16, 24, 40, 0.04);
    --color-shadow-md: 0px 4px 8px 0px rgba(0, 0, 0, 0.12), 0px 6px 12px 0px rgba(16, 24, 40, 0.12),
      0px 1px 16px 0px rgba(16, 24, 40, 0.12);
    --color-shadow-lg: 0px 6px 12px 0px rgba(0, 0, 0, 0.12), 0px 8px 16px 0px rgba(0, 0, 0, 0.12),
      0px 1px 24px 0px rgba(16, 24, 40, 0.12);
    --color-shadow-xl: 0px 0px 18px 0px rgba(0, 0, 0, 0.16), 0px 0px 24px 0px rgba(16, 24, 40, 0.16),
      0px 0px 52px 0px rgba(16, 24, 40, 0.16);
    --color-shadow-2xl: 0px 8px 16px 0px rgba(0, 0, 0, 0.12), 0px 12px 24px 0px rgba(16, 24, 40, 0.12),
      0px 1px 32px 0px rgba(16, 24, 40, 0.12);
    --color-shadow-3xl: 0px 12px 24px 0px rgba(0, 0, 0, 0.12), 0px 16px 32px 0px rgba(0, 0, 0, 0.12),
      0px 1px 48px 0px rgba(16, 24, 40, 0.12);
    --color-shadow-4xl: 0px 8px 40px 0px rgba(0, 0, 61, 0.05), 0px 12px 32px -16px rgba(0, 0, 0, 0.05);
  }

  [data-theme="light"],
  [data-theme="light-contrast"] {
    color-scheme: light !important;
  }

  [data-theme="light"] {
    --color-scrollbar: 163, 163, 163; /* scrollbar thumb */

    /* onboarding colors */
    --gradient-onboarding-100: linear-gradient(106deg, #f2f6ff 29.8%, #e1eaff 99.34%);
    --gradient-onboarding-200: linear-gradient(129deg, rgba(255, 255, 255, 0) -22.23%, rgba(255, 255, 255, 0.8) 62.98%);
    --gradient-onboarding-300: linear-gradient(164deg, #fff 4.25%, rgba(255, 255, 255, 0.06) 93.5%);
    --gradient-onboarding-400: linear-gradient(129deg, rgba(255, 255, 255, 0) -22.23%, rgba(255, 255, 255, 0.8) 62.98%);

    --color-onboarding-text-100: 23, 23, 23;
    --color-onboarding-text-200: 58, 58, 58;
    --color-onboarding-text-300: 82, 82, 82;
    --color-onboarding-text-400: 163, 163, 163;

    --color-onboarding-background-100: 236, 241, 255;
    --color-onboarding-background-200: 255, 255, 255;
    --color-onboarding-background-300: 236, 241, 255;
    --color-onboarding-background-400: 177, 206, 250;

    --color-onboarding-border-100: 229, 229, 229;
    --color-onboarding-border-200: 217, 228, 255;
    --color-onboarding-border-300: 229, 229, 229, 0.5;

    --color-onboarding-shadow-sm: 0px 4px 20px 0px rgba(126, 139, 171, 0.1);

    --color-primary-10: #fdfdfe;
    --color-primary-20: #f7f9ff;
    --color-primary-30: #edf2fe;
    --color-primary-40: #e1e9ff;
    --color-primary-50: #d2deff;
    --color-primary-60: #c1d0ff;
    --color-primary-70: #abbdf9;
    --color-primary-80: #8da4ef;
    --color-primary-90: #3e63dd;
    --color-primary-100: #3358d4;
    --color-primary-110: #3a5bc7;
    --color-primary-120: #1f2d5c;

    --color-neutral-0: #ffffff;
    --color-neutral-10: #fcfcfd;
    --color-neutral-20: #f9f9fb;
    --color-neutral-30: #f0f0f3;
    --color-neutral-40: #e8e8ec;
    --color-neutral-50: #e0e1e6;
    --color-neutral-60: #d9d9e0;
    --color-neutral-70: #cdced6;
    --color-neutral-80: #b9bbc6;
    --color-neutral-90: #8b8d98;
    --color-neutral-100: #80838d;
    --color-neutral-110: #60646c;
    --color-neutral-120: #1c2024;

    --color-success-10: #fbfefb;
    --color-success-20: #f5fbf5;
    --color-success-30: #e9f6e9;
    --color-success-40: #daf1db;
    --color-success-50: #c9e8ca;
    --color-success-60: #b2ddb5;
    --color-success-70: #94ce9a;
    --color-success-80: #65ba74;
    --color-success-90: #46a758;
    --color-success-100: #3e9b4f;
    --color-success-110: #2a7e3b;
    --color-success-120: #203c25;

    --color-warning-10: #fefdfb;
    --color-warning-20: #fefbe9;
    --color-warning-30: #fff7c2;
    --color-warning-40: #ffee9c;
    --color-warning-50: #fbe577;
    --color-warning-60: #f3d673;
    --color-warning-70: #e9c162;
    --color-warning-80: #e2a336;
    --color-warning-90: #ffc53d;
    --color-warning-100: #ffba18;
    --color-warning-110: #ab6400;
    --color-warning-120: #4f3422;

    --color-danger-10: #fffcfc;
    --color-danger-20: #fff7f7;
    --color-danger-30: #feebec;
    --color-danger-40: #ffdbdc;
    --color-danger-50: #ffcdce;
    --color-danger-60: #fdbdbe;
    --color-danger-70: #f4a9aa;
    --color-danger-80: #eb8e90;
    --color-danger-90: #e5484d;
    --color-danger-100: #dc3e42;
    --color-danger-110: #ce2c31;
    --color-danger-120: #641723;

    --color-info-10: #f9feff;
    --color-info-20: #f1fafd;
    --color-info-30: #e1f6fd;
    --color-info-40: #d1f0fa;
    --color-info-50: #bee7f5;
    --color-info-60: #a9daed;
    --color-info-70: #8dcae3;
    --color-info-80: #60b3d7;
    --color-info-90: #7ce2fe;
    --color-info-100: #74daf8;
    --color-info-110: #00749e;
    --color-info-120: #1d3e56;

    /* saturated colors */
    --color-orange-10: #fefcfb;
    --color-orange-20: #fff7ed;
    --color-orange-30: #ffefd6;
    --color-orange-40: #ffdfb5;
    --color-orange-50: #ffd19a;
    --color-orange-60: #ffc182;
    --color-orange-70: #f5ae73;
    --color-orange-80: #ec9455;
    --color-orange-90: #f76b15;
    --color-orange-100: #ef5f00;
    --color-orange-110: #cc4e00;
    --color-orange-120: #582d1d;
  }

  [data-theme="light-contrast"] {
    --color-scrollbar: 115, 115, 115; /* scrollbar thumb */
  }

  [data-theme="dark"],
  [data-theme="dark-contrast"] {
    color-scheme: dark !important;

    --color-shadow-2xs: 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    --color-shadow-xs: 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    --color-shadow-sm: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
    --color-shadow-rg: 0px 0px 6px 0px rgba(0, 0, 0, 0.2), 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
    --color-shadow-md: 0px 2px 8px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    --color-shadow-lg: 0px 4px 12px 0px rgba(0, 0, 0, 0.25), 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
    --color-shadow-xl: 0px 0px 14px 0px rgba(0, 0, 0, 0.25), 0px 6px 10px 0px rgba(0, 0, 0, 0.55);
    --color-shadow-2xl: 0px 0px 18px 0px rgba(0, 0, 0, 0.25), 0px 8px 12px 0px rgba(0, 0, 0, 0.6);
    --color-shadow-3xl: 0px 4px 24px 0px rgba(0, 0, 0, 0.3), 0px 12px 40px 0px rgba(0, 0, 0, 0.65);
  }

  [data-theme="dark"] {
    --color-scrollbar: 82, 82, 82; /* scrollbar thumb */

    /* onboarding colors */
    --gradient-onboarding-100: linear-gradient(106deg, #18191b 25.17%, #18191b 99.34%);
    --gradient-onboarding-200: linear-gradient(129deg, rgba(47, 49, 53, 0.8) -22.23%, rgba(33, 34, 37, 0.8) 62.98%);
    --gradient-onboarding-300: linear-gradient(167deg, rgba(47, 49, 53, 0.45) 19.22%, #212225 98.48%);

    --color-onboarding-text-100: 237, 238, 240;
    --color-onboarding-text-200: 176, 180, 187;
    --color-onboarding-text-300: 118, 123, 132;
    --color-onboarding-text-400: 105, 110, 119;

    --color-onboarding-background-100: 54, 58, 64;
    --color-onboarding-background-200: 40, 42, 45;
    --color-onboarding-background-300: 40, 42, 45;
    --color-onboarding-background-400: 67, 72, 79;

    --color-onboarding-border-100: 54, 58, 64;
    --color-onboarding-border-200: 54, 58, 64;
    --color-onboarding-border-300: 34, 35, 38, 0.5;

    --color-onboarding-shadow-sm: 0px 4px 20px 0px rgba(39, 44, 56, 0.1);

    --color-primary-10: #11131f;
    --color-primary-20: #141726;
    --color-primary-30: #182449;
    --color-primary-40: #1d2e62;
    --color-primary-50: #253974;
    --color-primary-60: #304384;
    --color-primary-70: #3a4f97;
    --color-primary-80: #435db1;
    --color-primary-90: #3e63dd;
    --color-primary-100: #5472e4;
    --color-primary-110: #9eb1ff;
    --color-primary-120: #d6e1ff;

    --color-neutral-0: #18191b;
    --color-neutral-10: #111113;
    --color-neutral-20: #18191b;
    --color-neutral-30: #212225;
    --color-neutral-40: #272a2d;
    --color-neutral-50: #2e3135;
    --color-neutral-60: #363a3f;
    --color-neutral-70: #43484e;
    --color-neutral-80: #5a6169;
    --color-neutral-90: #696e77;
    --color-neutral-100: #777b84;
    --color-neutral-110: #b0b4ba;
    --color-neutral-120: #edeef0;

    --color-success-10: #0e1511;
    --color-success-20: #141a15;
    --color-success-30: #1b2a1e;
    --color-success-40: #1d3a24;
    --color-success-50: #25482d;
    --color-success-60: #2d5736;
    --color-success-70: #366740;
    --color-success-80: #3e7949;
    --color-success-90: #46a758;
    --color-success-100: #53b365;
    --color-success-110: #71d083;
    --color-success-120: #c2f0c2;

    --color-warning-10: #16120c;
    --color-warning-20: #1d180f;
    --color-warning-30: #302008;
    --color-warning-40: #3f2700;
    --color-warning-50: #4d3000;
    --color-warning-60: #5c3d05;
    --color-warning-70: #714f19;
    --color-warning-80: #8f6424;
    --color-warning-90: #ffc53d;
    --color-warning-100: #ffd60a;
    --color-warning-110: #ffca16;
    --color-warning-120: #ffe7b3;

    --color-danger-10: #191111;
    --color-danger-20: #201314;
    --color-danger-30: #3b1219;
    --color-danger-40: #500f1c;
    --color-danger-50: #611623;
    --color-danger-60: #72232d;
    --color-danger-70: #8c333a;
    --color-danger-80: #b54548;
    --color-danger-90: #e5484d;
    --color-danger-100: #ec5d5e;
    --color-danger-110: #ff9592;
    --color-danger-120: #ffd1d9;

    --color-info-10: #0d1520;
    --color-info-20: #111927;
    --color-info-30: #0d2847;
    --color-info-40: #003362;
    --color-info-50: #004074;
    --color-info-60: #104d87;
    --color-info-70: #205d9e;
    --color-info-80: #2870bd;
    --color-info-90: #0090ff;
    --color-info-100: #3b9eff;
    --color-info-110: #70b8ff;
    --color-info-120: #c2e6ff;

    /* saturated colors */
    --color-orange-10: #fefcfb;
    --color-orange-20: #fff7ed;
    --color-orange-30: #ffefd6;
    --color-orange-40: #ffdfb5;
    --color-orange-50: #ffd19a;
    --color-orange-60: #ffc182;
    --color-orange-70: #f5ae73;
    --color-orange-80: #ec9455;
    --color-orange-90: #f76b15;
    --color-orange-100: #ef5f00;
    --color-orange-110: #cc4e00;
    --color-orange-120: #582d1d;
  }

  [data-theme="dark-contrast"] {
    --color-scrollbar: 115, 115, 115; /* scrollbar thumb */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: rgba(var(--color-text-100));
}

/* scrollbar style */
::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll-enable {
  overflow-x: scroll;
}

.horizontal-scroll-enable::-webkit-scrollbar {
  display: block;
  height: 7px;
  width: 0;
}

.horizontal-scroll-enable::-webkit-scrollbar-track {
  height: 7px;
  background-color: rgba(var(--color-background-100));
}

.horizontal-scroll-enable::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(var(--color-scrollbar));
}

.vertical-scroll-enable::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.vertical-scroll-enable::-webkit-scrollbar-track {
  width: 5px;
}

.vertical-scroll-enable::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(var(--color-background-90));
}
/* end scrollbar style */

.tags-input-container {
  border: 2px solid #000;
  padding: 0.5em;
  border-radius: 3px;
  width: min(80vw, 600px);
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tag-item {
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 20px;
}
.tag-item .close {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

.tags-input {
  flex-grow: 1;
  padding: 0.5em 0;
  border: none;
  outline: none;
}

/* emoji icon picker */
.conical-gradient {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff6b00 0deg,
    #f7ae59 70.5deg,
    #3f76ff 151.12deg,
    #05c3ff 213deg,
    #18914f 289.87deg,
    #f6f172 329.25deg,
    #ff6b00 360deg
  );
}

/* progress bar */
.progress-bar {
  fill: currentColor;
  color: rgba(var(--color-sidebar-background-100));
}

/* lineclamp */
.lineclamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* popover2 styling */
.bp4-popover2-transition-container {
  z-index: 1 !important;
}

::-webkit-input-placeholder,
::placeholder,
:-ms-input-placeholder {
  color: rgb(var(--color-text-400));
}

.bp4-overlay-content {
  z-index: 555 !important;
}

.disable-scroll {
  overflow: hidden !important;
}

.vertical-lr {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

div.web-view-spinner {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;
  margin-left: 50%;
  margin-right: 50%;
  padding: 10px;
  border-radius: 10px;
}

div.web-view-spinner div {
  width: 6%;
  height: 16%;
  background: rgb(var(--color-text-400));
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade 1s linear infinite;
  -webkit-animation: fade 1s linear infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

div.web-view-spinner div.bar1 {
  transform: rotate(0deg) translate(0, -130%);
  -webkit-transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

div.web-view-spinner div.bar2 {
  transform: rotate(30deg) translate(0, -130%);
  -webkit-transform: rotate(30deg) translate(0, -130%);
  animation-delay: -0.9167s;
  -webkit-animation-delay: -0.9167s;
}

div.web-view-spinner div.bar3 {
  transform: rotate(60deg) translate(0, -130%);
  -webkit-transform: rotate(60deg) translate(0, -130%);
  animation-delay: -0.833s;
  -webkit-animation-delay: -0.833s;
}
div.web-view-spinner div.bar4 {
  transform: rotate(90deg) translate(0, -130%);
  -webkit-transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.7497s;
  -webkit-animation-delay: -0.7497s;
}
div.web-view-spinner div.bar5 {
  transform: rotate(120deg) translate(0, -130%);
  -webkit-transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.667s;
  -webkit-animation-delay: -0.667s;
}
div.web-view-spinner div.bar6 {
  transform: rotate(150deg) translate(0, -130%);
  -webkit-transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.5837s;
  -webkit-animation-delay: -0.5837s;
}
div.web-view-spinner div.bar7 {
  transform: rotate(180deg) translate(0, -130%);
  -webkit-transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}
div.web-view-spinner div.bar8 {
  transform: rotate(210deg) translate(0, -130%);
  -webkit-transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.4167s;
  -webkit-animation-delay: -0.4167s;
}
div.web-view-spinner div.bar9 {
  transform: rotate(240deg) translate(0, -130%);
  -webkit-transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.333s;
  -webkit-animation-delay: -0.333s;
}
div.web-view-spinner div.bar10 {
  transform: rotate(270deg) translate(0, -130%);
  -webkit-transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.2497s;
  -webkit-animation-delay: -0.2497s;
}
div.web-view-spinner div.bar11 {
  transform: rotate(300deg) translate(0, -130%);
  -webkit-transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.167s;
  -webkit-animation-delay: -0.167s;
}
div.web-view-spinner div.bar12 {
  transform: rotate(330deg) translate(0, -130%);
  -webkit-transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.0833s;
  -webkit-animation-delay: -0.0833s;
}
