@import "@plane/tailwind-config/index.css";
@import "@plane/propel/styles/fonts.css";

@-moz-document url-prefix() {
  * {
    scrollbar-width: none;
  }
  .vertical-scrollbar,
  .horizontal-scrollbar {
    scrollbar-width: initial;
    scrollbar-color: rgba(96, 100, 108, 0.1) transparent;
  }
  .vertical-scrollbar:hover,
  .horizontal-scrollbar:hover {
    scrollbar-color: rgba(96, 100, 108, 0.25) transparent;
  }
  .vertical-scrollbar:active,
  .horizontal-scrollbar:active {
    scrollbar-color: rgba(96, 100, 108, 0.7) transparent;
  }
}

.vertical-scrollbar::-webkit-scrollbar-track,
.horizontal-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
.vertical-scrollbar::-webkit-scrollbar-thumb,
.horizontal-scrollbar::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(96, 100, 108, 0.1);
  border-radius: 9999px;
}
.vertical-scrollbar:hover::-webkit-scrollbar-thumb,
.horizontal-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(96, 100, 108, 0.25);
}
.vertical-scrollbar::-webkit-scrollbar-thumb:hover,
.horizontal-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(96, 100, 108, 0.5);
}
.vertical-scrollbar::-webkit-scrollbar-thumb:active,
.horizontal-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgba(96, 100, 108, 0.7);
}
.vertical-scrollbar::-webkit-scrollbar-corner,
.horizontal-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
.vertical-scrollbar-margin-top-md::-webkit-scrollbar-track {
  margin-top: 44px;
}

.shadow-custom {
  box-shadow: 2px 2px 8px 2px rgba(234, 231, 250, 0.3); /* Convert #EAE7FA4D to rgba */
}
/* backdrop filter */
.backdrop-blur-custom {
  @apply backdrop-filter blur-[9px];
}

/* progress bar */
.progress-bar {
  fill: currentColor;
  color: rgba(var(--color-sidebar-background-100));
}

::-webkit-input-placeholder,
::placeholder,
:-ms-input-placeholder {
  color: rgb(var(--color-text-400));
}

/* Progress Bar Styles */
:root {
  --bprogress-color: rgb(var(--color-primary-100)) !important;
  --bprogress-height: 2.5px !important;
}

.bprogress {
  pointer-events: none;
}

.bprogress .bar {
  background: linear-gradient(
    90deg,
    rgba(var(--color-primary-100), 0.8) 0%,
    rgba(var(--color-primary-100), 1) 100%
  ) !important;
  will-change: width, opacity;
}

.bprogress .peg {
  display: block;
  box-shadow:
    0 0 8px rgba(var(--color-primary-100), 0.6),
    0 0 4px rgba(var(--color-primary-100), 0.4) !important;
  will-change: transform, opacity;
}
