@import "tailwindcss";
@import "./variables.css";
@import "./animations.css";
@source "../**/*.{ts,tsx}";

* {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply text-primary;
}

/* emoji icon picker */
@utility conical-gradient {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff6b00 0deg,
    #f7ae59 70.5deg,
    #3f76ff 151.12deg,
    #05c3ff 213deg,
    #18914f 289.87deg,
    #f6f172 329.25deg,
    #ff6b00 360deg
  );
}

/* progress bar */
@utility progress-bar {
  fill: currentColor;
  color: rgba(var(--color-sidebar-background-100));
}

::-webkit-input-placeholder,
::placeholder,
:-ms-input-placeholder {
  color: rgb(var(--color-text-400));
}

@utility vertical-lr {
  writing-mode: vertical-lr;
  width: fit-content;
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: none;
  }
  .vertical-scrollbar,
  .horizontal-scrollbar {
    scrollbar-width: initial;
    scrollbar-color: rgba(96, 100, 108, 0.1) transparent;
  }
  .vertical-scrollbar:hover,
  .horizontal-scrollbar:hover {
    scrollbar-color: rgba(96, 100, 108, 0.25) transparent;
  }
  .vertical-scrollbar:active,
  .horizontal-scrollbar:active {
    scrollbar-color: rgba(96, 100, 108, 0.7) transparent;
  }
}

/* ---------- Scrollbar utilities ----------- */
::-webkit-scrollbar {
  @apply hidden;
}

@utility vertical-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: block;
  }
}

@utility horizontal-scrollbar {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: block;
  }
}

.vertical-scrollbar::-webkit-scrollbar-track,
.horizontal-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
.vertical-scrollbar::-webkit-scrollbar-thumb,
.horizontal-scrollbar::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(96, 100, 108, 0.1);
  border-radius: 9999px;
}
.vertical-scrollbar:hover::-webkit-scrollbar-thumb,
.horizontal-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(96, 100, 108, 0.25);
}
.vertical-scrollbar::-webkit-scrollbar-thumb:hover,
.horizontal-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(96, 100, 108, 0.5);
}
.vertical-scrollbar::-webkit-scrollbar-thumb:active,
.horizontal-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgba(96, 100, 108, 0.7);
}
.vertical-scrollbar::-webkit-scrollbar-corner,
.horizontal-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
.vertical-scrollbar-margin-top-md::-webkit-scrollbar-track {
  margin-top: 44px;
}

/* Scrollbar variants */
@utility scrollbar-xs {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
  }
}
@utility scrollbar-sm {
  &::-webkit-scrollbar {
    height: 12px;
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
  }
}
@utility scrollbar-md {
  &::-webkit-scrollbar {
    height: 14px;
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
  }
}
@utility scrollbar-lg {
  &::-webkit-scrollbar {
    height: 16px;
    width: 16px;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
  }
}

/* highlight class */
@utility highlight {
  border: 1px solid rgb(var(--color-primary-100)) !important;
}

@utility highlight-with-line {
  border-left: 5px solid rgb(var(--color-primary-100)) !important;
  background: rgb(var(--color-background-80));
}

/* By applying below class, the autofilled text in form fields will not have the default autofill background color and styles applied by WebKit browsers  */
@utility disable-autofill-style {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
  }
}
