/* Spacing - Mode 1 */
@theme {
  --spacing-*: initial;
  --spacing-0: 0;
  --spacing-25: 0.0625rem;
  --spacing-50: 0.125rem;
  --spacing-100: 0.25rem;
  --spacing-150: 0.375rem;
  --spacing-200: 0.5rem;
  --spacing-300: 0.75rem;
  --spacing-400: 1rem;
  --spacing-500: 1.25rem;
  --spacing-600: 1.5rem;
  --spacing-700: 1.75rem;
  --spacing-800: 2rem;
  --spacing-900: 2.25rem;
  --spacing-1000: 2.5rem;
  --spacing-1100: 2.75rem;
  --spacing-1200: 3rem;

  /* Borders radius */
  --radius-*: initial;
  --radius-none: 0;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-xxl: 1rem;
  --radius-rounded: 9999px;

  /* Border width */
  --border-width-*: initial;
  --border-width-sm: 1px;
  --border-width-md: 1.5px;
  --border-width-lg: 2px;
  --border-width-xl: 2.5px;
  --default-border-width: 1px;
}
