@theme {
  /* ---------- Font family ---------- */
  --font-family-*: initial;
  --font-family-heading: Inter;
  --font-family-body: Inter;
  --font-family-code: IBM Mono;

  /* ---------- Font weight ---------- */
  --font-weight-*: initial;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-heavy: 800;

  /* ---------- Font size ---------- */
  --text-*: initial;
  --text-9: 0.5625rem;
  --text-10: 0.625rem;
  --text-11: 0.6875rem;
  --text-12: 0.75rem;
  --text-13: 0.8125rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-28: 1.75rem;
  --text-32: 2rem;
  --text-40: 2.5rem;

  /* ---------- Letter spacing ---------- */
  --tracking-*: initial;
  --tracking-extra-tight: -0.025rem;
  --tracking-tight: -0.05rem;
  --tracking-default: 0;
  --tracking-wide: 0.05rem;
}

@utility text-h1-* {
  font-size: var(--text-32);
  line-height: 1.2;
  letter-spacing: var(--tracking-default);
  font-weight: --value(--font-weight-*);
}

@utility text-h2-* {
  font-size: var(--text-28);
  line-height: 1.2;
  letter-spacing: var(--tracking-default);
  font-weight: --value(--font-weight-*);
}

@utility text-h3-* {
  font-size: var(--text-24);
  line-height: 1.2;
  letter-spacing: var(--tracking-default);
  font-weight: --value(--font-weight-*);
}

@utility text-h4-* {
  font-size: var(--text-20);
  line-height: 1.2;
  letter-spacing: var(--tracking-default);
  font-weight: --value(--font-weight-*);
}

@utility text-h5-* {
  font-size: var(--text-16);
  line-height: 1.2;
  letter-spacing: var(--tracking-default);
  font-weight: --value(--font-weight-*);
}

@utility text-h6-* {
  font-size: var(--text-14);
  line-height: 1.2;
  letter-spacing: var(--tracking-default);
  font-weight: --value(--font-weight-*);
}

@utility text-body-md-* {
  --font-size: var(--text-16);
  font-size: var(--font-size);
  line-height: 1.4;
  letter-spacing: calc(0.01 * var(--font-size));
  font-weight: --value(--font-weight-*);
}

@utility text-body-sm-* {
  --font-size: var(--text-14);
  font-size: var(--font-size);
  line-height: 1.4;
  letter-spacing: calc(0.01 * var(--font-size));
  font-weight: --value(--font-weight-*);
}

@utility text-body-xs-* {
  --font-size: var(--text-13);
  font-size: var(--font-size);
  line-height: 1.4;
  letter-spacing: calc(0.01 * var(--font-size));
  font-weight: --value(--font-weight-*);
}

@utility text-caption-md-* {
  font-size: var(--text-12);
  line-height: 1.1;
  letter-spacing: var(--tracking-default);
  font-weight: --value(--font-weight-*);
}

@utility text-caption-sm-* {
  font-size: var(--text-11);
  line-height: 1.1;
  letter-spacing: var(--tracking-default);
  font-weight: --value(--font-weight-*);
}

@utility text-caption-xs-* {
  --font-size: var(--text-10);
  font-size: var(--font-size);
  line-height: 1;
  letter-spacing: calc(0.01 * var(--font-size));
  font-weight: --value(--font-weight-*);
}
