/* Scrollbar Styles */

/* Hide scrollbar by default */
::-webkit-scrollbar {
  display: none;
}

/* Firefox scrollbar */
@-moz-document url-prefix() {
  * {
    scrollbar-width: none;
  }
  .vertical-scrollbar,
  .horizontal-scrollbar {
    scrollbar-width: initial;
    scrollbar-color: rgba(96, 100, 108, 0.1) transparent;
  }
  .vertical-scrollbar:hover,
  .horizontal-scrollbar:hover {
    scrollbar-color: rgba(96, 100, 108, 0.25) transparent;
  }
  .vertical-scrollbar:active,
  .horizontal-scrollbar:active {
    scrollbar-color: rgba(96, 100, 108, 0.7) transparent;
  }
}

/* Custom scrollbar classes */
.vertical-scrollbar {
  overflow-y: auto;
}

.horizontal-scrollbar {
  overflow-x: auto;
}

.vertical-scrollbar::-webkit-scrollbar,
.horizontal-scrollbar::-webkit-scrollbar {
  display: block;
}

.vertical-scrollbar::-webkit-scrollbar-track,
.horizontal-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

.vertical-scrollbar::-webkit-scrollbar-thumb,
.horizontal-scrollbar::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(96, 100, 108, 0.1);
  border-radius: 9999px;
}

.vertical-scrollbar:hover::-webkit-scrollbar-thumb,
.horizontal-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(96, 100, 108, 0.25);
}

.vertical-scrollbar::-webkit-scrollbar-thumb:hover,
.horizontal-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(96, 100, 108, 0.5);
}

.vertical-scrollbar::-webkit-scrollbar-thumb:active,
.horizontal-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgba(96, 100, 108, 0.7);
}

.vertical-scrollbar::-webkit-scrollbar-corner,
.horizontal-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}

.vertical-scrollbar-margin-top-md::-webkit-scrollbar-track {
  margin-top: 44px;
}

/* Scrollbar size variants */
.scrollbar-xs::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.scrollbar-xs::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
}

.scrollbar-sm::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.scrollbar-sm::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
}

.scrollbar-md::-webkit-scrollbar {
  height: 14px;
  width: 14px;
}

.scrollbar-md::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
}

.scrollbar-lg::-webkit-scrollbar {
  height: 16px;
  width: 16px;
}

.scrollbar-lg::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
}

/* Hide scrollbar variants */
.hide-vertical-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}

.hide-horizontal-scrollbar::-webkit-scrollbar {
  height: 0 !important;
}

.hide-both-scrollbars::-webkit-scrollbar {
  height: 0 !important;
  width: 0 !important;
}
