VITE_API_BASE_URL="http://192.168.9.67:8000"

VITE_WEB_BASE_URL="http://192.168.9.67:8080"

VITE_ADMIN_BASE_URL="http://192.168.9.67:3001"
VITE_ADMIN_BASE_PATH="/god-mode"

VITE_SPACE_BASE_URL="http://192.168.9.67:3002"
VITE_SPACE_BASE_PATH="/spaces"

VITE_LIVE_BASE_URL="http://192.168.9.67:3100"
VITE_LIVE_BASE_PATH="/live"
