.drag-handle {
  position: fixed;
  opacity: 1;
  transition: opacity ease-in 0.2s;
  height: 20px;
  width: 15px;
  display: grid;
  place-items: center;
  z-index: 10;
  cursor: grab;
  border-radius: 2px;
  background-color: rgb(var(--color-background-90));
}

.ProseMirror:not(.dragging) .ProseMirror-selectednode {
  padding: 4px 0px;
  outline: none !important;
  cursor: grab;
  /* background-color: #1f2937; */
  background-color: rgba(var(--color-primary-100), 0.2);
  transition: background-color 0.2s;
  box-shadow: none;
}

.drag-handle:hover {
  background-color: #4d4d4d;
  cursor: grab;
  transition: background-color 0.2s;
}

.ProseMirror img {
  transition: filter 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  &.ProseMirror-selectednode {
    outline: 3px solid #5abbf7;
    filter: brightness(90%);
  }
}
:not(.dragging) .ProseMirror-selectednode.tableWrapper {
  padding: 4px 2px;
  background-color: rgba(var(--color-primary-300), 0.1) !important;
  box-shadow: rgba(var(--color-primary-100)) 0px 0px 0px 2px inset !important;
}
.drag-handle:active {
  background-color: #4d4d4d;
  transition: background-color 0.2s;
  cursor: grabbing;
}

.drag-handle.hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .drag-handle {
    display: none;
    pointer-events: none;
  }
}

.drag-handle-container {
  height: 15px;
  width: 15px;
  cursor: grab;
  display: grid;
  place-items: center;
}

.drag-handle-dots {
  height: 100%;
  width: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.drag-handle-dot {
  height: 2.75px;
  width: 3px;
  background-color: rgba(var(--color-text-200));
  border-radius: 50%;
}

/* block menu */
.blockMenu {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 0.25rem;
}
.blockMenu .action {
  background: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  padding: 0.1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}
.blockMenu .action:disabled {
  cursor: not-allowed;
}
.blockMenu .action:hover {
  background-color: rgba(var(--color-text-200));
}
.blockMenu .action .actionIconContainer {
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid red;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blockMenu .action .actionName {
  font-family: inherit;
  font-size: 0.95rem;
}
