@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-1\.5xl {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  :root {
    --color-bg-base: 243, 244, 246;
    --color-bg-surface-1: 249, 250, 251;
    --color-bg-surface-2: 255, 255, 255;

    --color-border: 229, 231, 235;
    --color-bg-sidebar: 255, 255, 255;
    --color-accent: 63, 118, 255;

    --color-text-base: 3, 7, 18;
    --color-text-secondary: 55, 65, 81;
  }

  [data-theme="light"] {
    --color-bg-base: 255, 255, 255;
    --color-bg-surface-1: 249, 250, 251;
    --color-bg-surface-2: 243, 244, 246;

    --color-border: 229, 231, 235;
    --color-bg-sidebar: 255, 255, 255;
    --color-accent: 63, 118, 255;

    --color-text-base: 3, 7, 18;
    --color-text-secondary: 55, 65, 81;
  }

  [data-theme="dark"] {
    --color-bg-base: 25, 27, 27;
    --color-bg-surface-1: 29, 30, 32;
    --color-bg-surface-2: 39, 42, 45;

    --color-border: 46, 50, 52;
    --color-bg-sidebar: 19, 20, 22;
    --color-accent: 60, 133, 217;

    --color-text-base: 233, 244, 252;
    --color-text-secondary: 142, 148, 146;
  }

  [data-theme="light-contrast"] {
    --color-bg-base: 250, 250, 250;
    --color-bg-surface-1: 250, 250, 250;
    --color-bg-surface-2: 206, 212, 218;

    --color-border: 0, 0, 0;
    --color-bg-sidebar: 255, 255, 255;
    --color-accent: 63, 118, 255;

    --color-text-base: 0, 0, 0;
    --color-text-secondary: 0, 0, 0;
  }

  [data-theme="dark-contrast"] {
    --color-bg-base: 25, 27, 27;
    --color-bg-surface-1: 31, 32, 35;
    --color-bg-surface-2: 39, 42, 45;

    --color-border: 255, 255, 255;
    --color-bg-sidebar: 19, 20, 22;
    --color-accent: 60, 133, 217;

    --color-text-base: 255, 255, 255;
    --color-text-secondary: 142, 148, 146;
    color-scheme: dark !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* scrollbar style */

::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll-enable {
  overflow-x: scroll;
}

.horizontal-scroll-enable::-webkit-scrollbar {
  display: block;
  height: 7px;
}

.horizontal-scroll-enable::-webkit-scrollbar-track {
  height: 7px;
}

.horizontal-scroll-enable::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(var(--color-bg-surface-1));
}

.vertical-scroll-enable::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.vertical-scroll-enable::-webkit-scrollbar-track {
  width: 5px;
}

.vertical-scroll-enable::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(var(--color-bg-surface-1));
}
/* end scrollbar style */

.tags-input-container {
  border: 2px solid #000;
  padding: 0.5em;
  border-radius: 3px;
  width: min(80vw, 600px);
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tag-item {
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 20px;
}
.tag-item .close {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

.tags-input {
  flex-grow: 1;
  padding: 0.5em 0;
  border: none;
  outline: none;
}

/* react datepicker styling */
.react-datepicker-wrapper input::placeholder {
  color: rgba(var(--color-text-secondary));
  opacity: 1;
}

.react-datepicker-wrapper input:-ms-input-placeholder {
  color: rgba(var(--color-text-secondary));
}

.react-datepicker-wrapper .react-datepicker__close-icon::after {
  background: transparent;
  color: rgba(var(--color-text-secondary));
}

.react-datepicker-popper {
  z-index: 30 !important;
}

.conical-gradient {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff6b00 0deg,
    #f7ae59 70.5deg,
    #3f76ff 151.12deg,
    #05c3ff 213deg,
    #18914f 289.87deg,
    #f6f172 329.25deg,
    #ff6b00 360deg
  );
}

.progress-bar{
  fill: currentColor;
  color: rgba(var(--color-bg-sidebar));
}

/* end react datepicker styling */
