<!DOCTYPE html>
<html>

<body>
  <p>
    Dear {{first_name}},<br /><br />
    We received a request to reset your password for your Plane account.
    <br /><br />
    To proceed with resetting your password, please click on the link below:
    <br />
    <a href="{{forgot_password_url}}">{{forgot_password_url}}</a>
    <br /><br />
    If you didn't request to reset your password, please ignore this email. Your account will remain secure.
    <br /><br />
    If you have any questions or need further assistance, please contact our support team.
    <br /><br />
    Thank you for using Plane.
  </p>
</body>

</html>