<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSRF Verification Failed</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        padding-top: 50px;
        background-color: #f8f9fa;
      }
      .container {
        max-width: 600px;
      }
      .card {
        margin-top: 20px;
      }
      .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
      }
      .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header text-center">
          <h3>CSRF Verification Failed</h3>
        </div>
        <div class="card-body">
          <p class="card-text">
            It looks like your form submission has expired or there was a
            problem with your request.
          </p>
          <p class="card-text">Please try the following:</p>
          <ul>
            <li>Refresh the page and try submitting the form again.</li>
            <li>Ensure that cookies are enabled in your browser.</li>
          </ul>
          <a href="{{ root_url }}" class="btn btn-primary btn-block"
            >Go to Home Page</a
          >
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
