{
	email {$CERT_EMAIL} 
	{$CERT_ACME_DNS}
}

{$APP_PROTOCOL}://{$DOMAIN_NAME} {
	request_body {
		max_size {$FILE_SIZE_LIMIT}
	}

	reverse_proxy /spaces/* space:3000

	reverse_proxy /god-mode/* admin:3000

	reverse_proxy /api/* api:8000

	reverse_proxy /auth/* api:8000

	reverse_proxy /{$BUCKET_NAME}/* plane-minio:9000

	reverse_proxy /* web:3000
}
