# App Environment Variables
BATCH_SIZE=100
PORT=3000
MQ_PREFETCH_COUNT=5
NODE_ENV=development
DEDUP_INTERVAL=3
IS_SELF_MANAGED=1
SILO_FILE_SIZE_LIMIT=104857600
IMPORTERS_QUEUE_NAME=celery
MAX_STORE_CONNECTION_ATTEMPTS=20
MAX_DB_CONNECTION_ATTEMPTS=5
APP_BASE_URL=http://web:3000
SILO_API_BASE_URL=http://localhost:8080
SILO_BASE_PATH=/silo
API_BASE_URL=http://localhost:8000
API_INTERNAL_BASE_URL=
SPACE_BASE_URL=https://sites.plane.so
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001,http://localhost:8000"
WEBHOOK_SECRET=
AES_SECRET_KEY="plane-testing-key"
AES_SALT="aes-salt"

# Database Settings
POSTGRES_USER="plane"
POSTGRES_PASSWORD="plane"
POSTGRES_HOST="localhost"
POSTGRES_DB="plane"
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# RabbitMQ Environment Variables
RABBITMQ_HOST="localhost"
RABBITMQ_PORT="5672"
RABBITMQ_USER="plane"
RABBITMQ_PASSWORD="plane"
RABBITMQ_VHOST="plane"
AMQP_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/${RABBITMQ_VHOST}

# Redis Environment Variables
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}/

# Sentry Environment Variables
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_RELEASE_VERSION=
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
SENTRY_AUTH_TOKEN=

# Datadog Environment Variables
# DD_API_KEY=
# DD_TRACE_AGENT_HOSTNAME=localhost
# DD_ENV=production
# DD_SERVICE=silo
# DD_VERSION=1.0.0

# integrations
# Jira Environment Variables
JIRA_OAUTH_ENABLED=0
JIRA_CLIENT_ID=
JIRA_CLIENT_SECRET=
JIRA_SERVER_OAUTH_ENABLED=0

# Linear Environment Variables
LINEAR_OAUTH_ENABLED=0
LINEAR_CLIENT_ID=
LINEAR_CLIENT_SECRET=

# Github Environment Variables
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_APP_NAME=
GITHUB_APP_ID=
GITHUB_WEBHOOK_SECRET=
GITHUB_PRIVATE_KEY=

# Gitlab Environment Variables
GITLAB_CLIENT_ID=your_gitlab_client_id
GITLAB_CLIENT_SECRET=your_gitlab_client_secret

# Asana Environment Variables
ASANA_OAUTH_ENABLED=0
ASANA_CLIENT_ID=
ASANA_CLIENT_SECRET=

# Slack Environment Variables
SLACK_CLIENT_ID=your_slack_client_id
SLACK_CLIENT_SECRET=your_slack_client_secret
SLACK_SIGNING_SECRET=

# Sentry Integration Environment Variables
SENTRY_BASE_URL=https://sentry.io
SENTRY_CLIENT_ID=
SENTRY_CLIENT_SECRET=
SENTRY_INTEGRATION_SLUG=plane

# Flatfile Environment Variables
FLATFILE_API_KEY=

# HMAC
SILO_HMAC_SECRET_KEY=

# AWS S3 Environment Variables
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT_URL=
AWS_S3_BUCKET_NAME=uploads
AWS_ROLE_ARN=
AWS_CONTAINER_CREDENTIALS_FULL_URI=
AWS_SECRET_CACHE_TTL=300

# Feature Flag Server
FEATURE_FLAG_SERVER_BASE_URL=
FEATURE_FLAG_SERVER_AUTH_TOKEN=

# Internal Plane App
PRD_AGENT_CLIENT_ID=
PRD_AGENT_CLIENT_SECRET=

# Cursor Agent
CURSOR_WEBHOOK_SECRET=

# AI Service
AI_SERVICE_BASE_URL=
