SMTP_DEBUG=false
SMTP_DOMAIN=plane.email
EMAIL_SAVE_ENDPOINT=
MAX_ATTACHMENT_SIZE=10485760 # Max SMTP message size in bytes (10 MiB), including body and attachments  

TLS_CERT_PATH=keys/cert.pem
TLS_PRIV_KEY_PATH=keys/key.pem
