@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  :root {
    color-scheme: light !important;

    --color-primary-10: 236, 241, 255;
    --color-primary-20: 217, 228, 255;
    --color-primary-30: 197, 214, 255;
    --color-primary-40: 178, 200, 255;
    --color-primary-50: 159, 187, 255;
    --color-primary-60: 140, 173, 255;
    --color-primary-70: 121, 159, 255;
    --color-primary-80: 101, 145, 255;
    --color-primary-90: 82, 132, 255;
    --color-primary-100: 63, 118, 255;
    --color-primary-200: 57, 106, 230;
    --color-primary-300: 50, 94, 204;
    --color-primary-400: 44, 83, 179;
    --color-primary-500: 38, 71, 153;
    --color-primary-600: 32, 59, 128;
    --color-primary-700: 25, 47, 102;
    --color-primary-800: 19, 35, 76;
    --color-primary-900: 13, 24, 51;

    --color-background-100: 255, 255, 255; /* primary bg */
    --color-background-90: 250, 250, 250; /* secondary bg */
    --color-background-80: 245, 245, 245; /* tertiary bg */

    --color-text-100: 23, 23, 23; /* primary text */
    --color-text-200: 58, 58, 58; /* secondary text */
    --color-text-300: 82, 82, 82; /* tertiary text */
    --color-text-400: 163, 163, 163; /* placeholder text */

    --color-border-100: 245, 245, 245; /* subtle border= 1 */
    --color-border-200: 229, 229, 229; /* subtle border- 2 */
    --color-border-300: 212, 212, 212; /* strong border- 1 */
    --color-border-400: 185, 185, 185; /* strong border- 2 */

    --color-shadow-2xs: 0px 0px 1px 0px rgba(23, 23, 23, 0.06), 0px 1px 2px 0px rgba(23, 23, 23, 0.06),
      0px 1px 2px 0px rgba(23, 23, 23, 0.14);
    --color-shadow-xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(16, 24, 40, 0.12),
      0px 1px 8px -1px rgba(16, 24, 40, 0.1);
    --color-shadow-sm: 0px 1px 4px 0px rgba(0, 0, 0, 0.01), 0px 4px 8px 0px rgba(0, 0, 0, 0.02),
      0px 1px 12px 0px rgba(0, 0, 0, 0.12);
    --color-shadow-rg: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(16, 24, 40, 0.08),
      0px 1px 12px 0px rgba(16, 24, 40, 0.04);
    --color-shadow-md: 0px 4px 8px 0px rgba(0, 0, 0, 0.12), 0px 6px 12px 0px rgba(16, 24, 40, 0.12),
      0px 1px 16px 0px rgba(16, 24, 40, 0.12);
    --color-shadow-lg: 0px 6px 12px 0px rgba(0, 0, 0, 0.12), 0px 8px 16px 0px rgba(0, 0, 0, 0.12),
      0px 1px 24px 0px rgba(16, 24, 40, 0.12);
    --color-shadow-xl: 0px 0px 18px 0px rgba(0, 0, 0, 0.16), 0px 0px 24px 0px rgba(16, 24, 40, 0.16),
      0px 0px 52px 0px rgba(16, 24, 40, 0.16);
    --color-shadow-2xl: 0px 8px 16px 0px rgba(0, 0, 0, 0.12), 0px 12px 24px 0px rgba(16, 24, 40, 0.12),
      0px 1px 32px 0px rgba(16, 24, 40, 0.12);
    --color-shadow-3xl: 0px 12px 24px 0px rgba(0, 0, 0, 0.12), 0px 16px 32px 0px rgba(0, 0, 0, 0.12),
      0px 1px 48px 0px rgba(16, 24, 40, 0.12);
    --color-shadow-4xl: 0px 8px 40px 0px rgba(0, 0, 61, 0.05), 0px 12px 32px -16px rgba(0, 0, 0, 0.05);

    --color-sidebar-background-100: var(--color-background-100); /* primary sidebar bg */
    --color-sidebar-background-90: var(--color-background-90); /* secondary sidebar bg */
    --color-sidebar-background-80: var(--color-background-80); /* tertiary sidebar bg */

    --color-sidebar-text-100: var(--color-text-100); /* primary sidebar text */
    --color-sidebar-text-200: var(--color-text-200); /* secondary sidebar text */
    --color-sidebar-text-300: var(--color-text-300); /* tertiary sidebar text */
    --color-sidebar-text-400: var(--color-text-400); /* sidebar placeholder text */

    --color-sidebar-border-100: var(--color-border-100); /* subtle sidebar border= 1 */
    --color-sidebar-border-200: var(--color-border-100); /* subtle sidebar border- 2 */
    --color-sidebar-border-300: var(--color-border-100); /* strong sidebar border- 1 */
    --color-sidebar-border-400: var(--color-border-100); /* strong sidebar border- 2 */

    --color-sidebar-shadow-2xs: var(--color-shadow-2xs);
    --color-sidebar-shadow-xs: var(--color-shadow-xs);
    --color-sidebar-shadow-sm: var(--color-shadow-sm);
    --color-sidebar-shadow-rg: var(--color-shadow-rg);
    --color-sidebar-shadow-md: var(--color-shadow-md);
    --color-sidebar-shadow-lg: var(--color-shadow-lg);
    --color-sidebar-shadow-xl: var(--color-shadow-xl);
    --color-sidebar-shadow-2xl: var(--color-shadow-2xl);
    --color-sidebar-shadow-3xl: var(--color-shadow-3xl);
    --color-sidebar-shadow-4xl: var(--color-shadow-4xl);
  }

  [data-theme="light"],
  [data-theme="light-contrast"] {
    color-scheme: light !important;

    --color-background-100: 255, 255, 255; /* primary bg */
    --color-background-90: 250, 250, 250; /* secondary bg */
    --color-background-80: 245, 245, 245; /* tertiary bg */

    /* onboarding colors */
    --gradient-onboarding-100: linear-gradient(106deg, #f2f6ff 29.8%, #e1eaff 99.34%);
    --gradient-onboarding-200: linear-gradient(129deg, rgba(255, 255, 255, 0) -22.23%, rgba(255, 255, 255, 0.8) 62.98%);
    --gradient-onboarding-300: linear-gradient(164deg, #fff 4.25%, rgba(255, 255, 255, 0.06) 93.5%);
    --gradient-onboarding-400: linear-gradient(129deg, rgba(255, 255, 255, 0) -22.23%, rgba(255, 255, 255, 0.8) 62.98%);

    --color-onboarding-text-100: 23, 23, 23;
    --color-onboarding-text-200: 58, 58, 58;
    --color-onboarding-text-300: 82, 82, 82;
    --color-onboarding-text-400: 163, 163, 163;

    --color-onboarding-background-100: 236, 241, 255;
    --color-onboarding-background-200: 255, 255, 255;
    --color-onboarding-background-300: 236, 241, 255;
    --color-onboarding-background-400: 177, 206, 250;

    --color-onboarding-border-100: 229, 229, 229;
    --color-onboarding-border-200: 217, 228, 255;
    --color-onboarding-border-300: 229, 229, 229, 0.5;

    --color-onboarding-shadow-sm: 0px 4px 20px 0px rgba(126, 139, 171, 0.1);
  }

  [data-theme="light"] {
    --color-text-100: 23, 23, 23; /* primary text */
    --color-text-200: 58, 58, 58; /* secondary text */
    --color-text-300: 82, 82, 82; /* tertiary text */
    --color-text-400: 163, 163, 163; /* placeholder text */

    --color-border-100: 245, 245, 245; /* subtle border= 1 */
    --color-border-200: 229, 229, 229; /* subtle border- 2 */
    --color-border-300: 212, 212, 212; /* strong border- 1 */
    --color-border-400: 185, 185, 185; /* strong border- 2 */
  }

  [data-theme="light-contrast"] {
    --color-text-100: 11, 11, 11; /* primary text */
    --color-text-200: 38, 38, 38; /* secondary text */
    --color-text-300: 58, 58, 58; /* tertiary text */
    --color-text-400: 115, 115, 115; /* placeholder text */

    --color-border-100: 34, 34, 34; /* subtle border= 1 */
    --color-border-200: 38, 38, 38; /* subtle border- 2 */
    --color-border-300: 46, 46, 46; /* strong border- 1 */
    --color-border-400: 58, 58, 58; /* strong border- 2 */
  }

  [data-theme="dark"],
  [data-theme="dark-contrast"] {
    color-scheme: dark !important;

    --color-background-100: 7, 7, 7; /* primary bg */
    --color-background-90: 11, 11, 11; /* secondary bg */
    --color-background-80: 23, 23, 23; /* tertiary bg */

    --color-shadow-2xs: 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    --color-shadow-xs: 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    --color-shadow-sm: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
    --color-shadow-rg: 0px 0px 6px 0px rgba(0, 0, 0, 0.2), 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
    --color-shadow-md: 0px 2px 8px 0px rgba(0, 0, 0, 0.2), 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    --color-shadow-lg: 0px 4px 12px 0px rgba(0, 0, 0, 0.25), 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
    --color-shadow-xl: 0px 0px 14px 0px rgba(0, 0, 0, 0.25), 0px 6px 10px 0px rgba(0, 0, 0, 0.55);
    --color-shadow-2xl: 0px 0px 18px 0px rgba(0, 0, 0, 0.25), 0px 8px 12px 0px rgba(0, 0, 0, 0.6);
    --color-shadow-3xl: 0px 4px 24px 0px rgba(0, 0, 0, 0.3), 0px 12px 40px 0px rgba(0, 0, 0, 0.65);

    /* onboarding colors */
    --gradient-onboarding-100: linear-gradient(106deg, #18191b 25.17%, #18191b 99.34%);
    --gradient-onboarding-200: linear-gradient(129deg, rgba(47, 49, 53, 0.8) -22.23%, rgba(33, 34, 37, 0.8) 62.98%);
    --gradient-onboarding-300: linear-gradient(167deg, rgba(47, 49, 53, 0.45) 19.22%, #212225 98.48%);

    --color-onboarding-text-100: 237, 238, 240;
    --color-onboarding-text-200: 176, 180, 187;
    --color-onboarding-text-300: 118, 123, 132;
    --color-onboarding-text-400: 105, 110, 119;

    --color-onboarding-background-100: 54, 58, 64;
    --color-onboarding-background-200: 40, 42, 45;
    --color-onboarding-background-300: 40, 42, 45;
    --color-onboarding-background-400: 67, 72, 79;

    --color-onboarding-border-100: 54, 58, 64;
    --color-onboarding-border-200: 54, 58, 64;
    --color-onboarding-border-300: 34, 35, 38, 0.5;

    --color-onboarding-shadow-sm: 0px 4px 20px 0px rgba(39, 44, 56, 0.1);
  }

  [data-theme="dark"] {
    --color-text-100: 229, 229, 229; /* primary text */
    --color-text-200: 163, 163, 163; /* secondary text */
    --color-text-300: 115, 115, 115; /* tertiary text */
    --color-text-400: 82, 82, 82; /* placeholder text */

    --color-border-100: 34, 34, 34; /* subtle border= 1 */
    --color-border-200: 38, 38, 38; /* subtle border- 2 */
    --color-border-300: 46, 46, 46; /* strong border- 1 */
    --color-border-400: 58, 58, 58; /* strong border- 2 */
  }

  [data-theme="dark-contrast"] {
    --color-text-100: 250, 250, 250; /* primary text */
    --color-text-200: 241, 241, 241; /* secondary text */
    --color-text-300: 212, 212, 212; /* tertiary text */
    --color-text-400: 115, 115, 115; /* placeholder text */

    --color-border-100: 245, 245, 245; /* subtle border= 1 */
    --color-border-200: 229, 229, 229; /* subtle border- 2 */
    --color-border-300: 212, 212, 212; /* strong border- 1 */
    --color-border-400: 185, 185, 185; /* strong border- 2 */
  }

  [data-theme="light"],
  [data-theme="dark"],
  [data-theme="light-contrast"],
  [data-theme="dark-contrast"] {
    --color-primary-10: 236, 241, 255;
    --color-primary-20: 217, 228, 255;
    --color-primary-30: 197, 214, 255;
    --color-primary-40: 178, 200, 255;
    --color-primary-50: 159, 187, 255;
    --color-primary-60: 140, 173, 255;
    --color-primary-70: 121, 159, 255;
    --color-primary-80: 101, 145, 255;
    --color-primary-90: 82, 132, 255;
    --color-primary-100: 63, 118, 255;
    --color-primary-200: 57, 106, 230;
    --color-primary-300: 50, 94, 204;
    --color-primary-400: 44, 83, 179;
    --color-primary-500: 38, 71, 153;
    --color-primary-600: 32, 59, 128;
    --color-primary-700: 25, 47, 102;
    --color-primary-800: 19, 35, 76;
    --color-primary-900: 13, 24, 51;

    --color-sidebar-background-100: var(--color-background-100); /* primary sidebar bg */
    --color-sidebar-background-90: var(--color-background-90); /* secondary sidebar bg */
    --color-sidebar-background-80: var(--color-background-80); /* tertiary sidebar bg */

    --color-sidebar-text-100: var(--color-text-100); /* primary sidebar text */
    --color-sidebar-text-200: var(--color-text-200); /* secondary sidebar text */
    --color-sidebar-text-300: var(--color-text-300); /* tertiary sidebar text */
    --color-sidebar-text-400: var(--color-text-400); /* sidebar placeholder text */

    --color-sidebar-border-100: var(--color-border-100); /* subtle sidebar border= 1 */
    --color-sidebar-border-200: var(--color-border-200); /* subtle sidebar border- 2 */
    --color-sidebar-border-300: var(--color-border-300); /* strong sidebar border- 1 */
    --color-sidebar-border-400: var(--color-border-400); /* strong sidebar border- 2 */
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--color-background-100));
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(var(--color-background-80));
}

.hide-vertical-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}

.hide-horizontal-scrollbar::-webkit-scrollbar {
  height: 0 !important;
}

.hide-both-scrollbars::-webkit-scrollbar {
  height: 0 !important;
  width: 0 !important;
}
